@media(max-width: 768px) {
    .carousel-caption p{
        font-size: 13px;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px !important;
    }

    section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .carousel-caption {
        bottom: auto !important;
        top: 50px !important;
    }
    .carousel, .carousel-inner {
        height: 350px !important;
    }
}
